<section id="banner">
  <div class="wrapper home">
    <div class="banner-content">
      <h2>Christina Reilly</h2>
      <h1 class="home-title">Front End Developer.</h1>
    </div>

  </div><!-- end wrapper -->
</section><!-- end banner -->
