.projects-wrapper {
  .col-5, .col-6, .col-7 {
    width: 100%;
    float: left;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    @media (max-width: $medium) {
      width: 100%;
    }
  }

  .project {
    //background: whitesmoke;
    //border: 2px solid whitesmoke;
    margin-bottom: 95px;
    padding-top: 20px;
    padding-bottom: 20px;
    img {
      width: 70%;
      position: relative;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    a {
      position: relative;
      width: 30%;
      padding: 7px 30px;
      border-radius: 2px;
      margin: 0 auto;
      margin-top: 10px;
      background: $accent-color;
      color: $white;
      text-transform:uppercase;
      transition: all .3s;
      border: 1px solid $accent-color;
      &:hover {
        background: transparent;
        color: $accent-color;
      }
    }
  }

}
